:root {
    --grid-columns: 1;
    --grid-rows: 1;
    --page-background: rgb(53, 53, 53);
}

html {
    background-color: var(--page-background);
    color: white;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.grid-item {
 border: 2px solid skyblue;
 padding: 1rem;
}

.hover-styles {
    background-color: pink;
}

.reset-div {
    display: flex;
    justify-content: center;
}

.reset-drawing,
.reset-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--page-background);
    border: 2px solid white;
    background-color: skyblue;
    margin: 1rem auto;
    padding: .5rem 2rem;
    width: 14rem;
}

.reset:hover {
    cursor: pointer;
}

.grid-size-div {
    display: flex;
    justify-content: center;
}

.grid-size-button {
    font-size: 25px;
    color: var(--page-background);
    border: 2px solid white;
    background-color: skyblue;
    margin: 1rem auto;
    padding: .5rem 2rem;
}

.grid-size-button:hover {
    cursor: pointer;
}